<!-- <html> -->

<head>
  <link rel="stylesheet" href="./css/cl.css">
</head>

<body>
  <div class="cl-wrapper" id="screenshot-target">
    <div class="cl">
      <div class="cl-title">2023 - 3</div>
      <div class="cl-head">
        <div class="weekday" thjs:if="${!#lists.isEmpty(yobi)}" thjs:each="weekday : ${yobi}" thjs:text="${weekday}"></div>
      </div>
      <div class="cl-body">
        <div class="day-wrapper" thjs:if="${!#lists.isEmpty(clData)}" thjs:each="dayObj : ${clData}">
          <div class="day-box">
            <div class="day-box-head" thjs:text="${dayObj.day}" thjs:classappend="${dayObj.isToday} ? 'today' : ''">23</div>
            <div class="day-box-body">
              <div class="day-box-item" thjs:if="${!#lists.isEmpty(dayObj.events)}" thjs:each="event : ${dayObj.events}" thjs:classappend="${event.colorId}">
                <span class="day-box-item-dot" thjs:if="${!#lists.isEmpty(event.colorId)}" thjs:classappend="'color-' + ${event.colorId}" thjs:text="${event.dotText}"></span>
                <span class="day-box-item-text" thjs:text="${event.summary}"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<!-- </html> -->